<!DOCTYPE html>
<html class="fixed" id="htm">
	<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="OTO.CO.ID" name="Author">
        <meta content="Pengajuan Calon Kustomer, OTO.CO.ID: The 1st Indonesian Automotive Portal, Enjoy the easiest and fastest way to explore and financing your dream car" name="description">
        <meta content="Pengajuan Calon Kustomer, oto.co.id, oto multiartha, sumitomo, automotive, otomotif, financial services, loan simulation, budget simulation, car financing, kredit mobil, car prices, harga mobil, car, mobil, jakarta, indonesia, indonesian" name="keywords">
        <title>Pengajuan Calon Kustomer | OTOKreditMobil</title>

        <link rel="shortcut icon" type="image/png" href="https://www.oto.co.id/img/favicon.png">
<!-- Bootstrap -->
<link href="{$baseUrl}/assets/oto/bootstrap.css" rel="stylesheet">
<link href="{$baseUrl}/assets/oto/style.css" rel="stylesheet">
<link href="{$baseUrl}/assets/oto/datepicker3.css" rel="stylesheet">
        <link rel="stylesheet" href="{$baseUrl}/assets/oto/jquery.css" type="text/css" media="screen">
        <link href="{$baseUrl}/assets/oto/css_002.css" rel="stylesheet" type="text/css">
        <link href="{$baseUrl}/assets/oto/css.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" async="" src="{$baseUrl}/assets/oto/ga.js"></script><script src="{$baseUrl}/assets/oto/jquery_002.js"></script>
        <!-- <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28035221-1']);
            _gaq.push(['_trackPageview']);
  
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
      </script> -->



      <style>
      .ex1{
          overflow:auto;
      }
      .warna {
        background-color:#6495ED;
      }
      </style>

      

</head>


    <body>
        <div id="fb-root"></div>
<!--script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script-->



        <header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-6">


                                                            <a href="https://www.oto.co.id/"><img src="{$baseUrl}/assets/oto/1460520365-23565.png" class="img-responsive logo"></a>
                                        

            </div>
            <div class="col-sm-6 col-md-4">
                <p class="hub"><strong>Hubungi Kami</strong></p>
                <ul class="list-inline info">
                    <li>Telp : 1500 686</li>
                    <li>|</li>
                    <li>Email : cs@oto.co.id</li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="{$baseUrl}/assets/oto/logo-oto-mobil.png" alt="" class="img-responsive">
            </div>

            <form action="/change/language" style="display: none;" id="create_pre_custForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>                <input name="data[lang]" id="changeLang-EN" type="submit" value="EN">                <input name="data[lang]" id="changeLang-ID" type="submit" value="ID">            </form>        </div>
    </div>
</header>




<nav class="navbar navbar-otomobil" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <nav class="navbar" role="navigation"> -->
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                    <div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-oto">
                                                                                                <li class="active">
                                        <a href="https://www.oto.co.id/">
                                                                        
                    Beranda                                             
                                       </a>
                                    </li>
                                  
                                                                                                <li class="active">
                                        <a href="https://www.oto.co.id/tentang-oto-kredit-mobil/tentang-otomobil">
                                                                        
                    Tentang Perusahaan                                  
                                                  </a>
                                    </li>
                                  
                                                                                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                        
                    Produk                                              
                                          <strong class="caret caret-menu"></strong>
                                        </a>
                                        <ul class="dropdown-menu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
        <li>
                                                            <a href="https://www.oto.co.id/products/harga-mobil-baru">
                                                                        
                                                            Harga Mobil 
Baru                                                                    
                                                        </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/precustomer">
                                                                        
                                                            Pengajuan 
Dana Tunai                                                              
                                                              </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/paket-mobil-baru">
                                                                        
                                                            Paket Mobil 
Baru                                                                    
                                                        </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/simulasi-kredit">
                                                                        
                                                            Simulasi 
Kredit                                                                  
                                                          </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/simulasi-budget">
                                                                        
                                                            Simulasi 
Budget                                                                  
                                                          </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/perbandingan-mobil">
                                                                        
                                                            Perbandingan
 Mobil                                                                  
                                                          </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/pilih-mobil">
                                                                        
                                                            Pilih Mobil 
                                                                        
                                                   </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/products/syarat-kredit">
                                                                        
                                                            Syarat 
Kredit                                                                  
                                                          </a>
                                                        </li>
                                                                        
                                                                        
                                        </ul>
                                    </li>
                                  
                                                                                                <li class="active">
                                        <a href="https://www.oto.co.id/news">
                                                                        
                    Berita                                              
                                      </a>
                                    </li>
                                  
                                                                                                <li class="active">
                                        <a href="https://www.oto.co.id/promo">
                                                                        
                    Promo                                               
                                     </a>
                                    </li>
                                  
                                                                                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                        
                    Jaringan                                            
                                            <strong class="caret caret-menu"></strong>
                                        </a>
                                        <ul class="dropdown-menu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
        <li>
                                                            <a href="https://www.oto.co.id/dealer">
                                                                        
                                                            Dealer      
                                                                        
                                              </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/network">
                                                                        
                                                            Jaringan    
                                                                        
                                                </a>
                                                        </li>
                                                                        
                                                                        
                                        </ul>
                                    </li>
                                  
                                                                                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                        
                    Layanan Pelanggan                                   
                                                     <strong class="caret caret-menu"></strong>
                                        </a>
                                        <ul class="dropdown-menu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                    <li>
                                                                <a href="https://www.oto.co.id/member/login">
                                                                        
                                                                    
Login Pelanggan                                                         
                                                                        
   </a>
                                                            </li>
                                                                        
                                                                        
                                                                        
                                                                        
                                                                    <li>
                                                            <a href="https://www.oto.co.id/covid19-restructuring">
                                                                        
                                                            Permohonan 
Restrukturisasi Kredit                                                  
                                                                        
  </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/petunjuk-pembayaran">
                                                                        
                                                            Petunjuk 
Pembayaran                                                              
                                                              </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/pengambilan-bpkb">
                                                                        
                                                            Pengambilan 
BPKB                                                                    
                                                        </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/faqs">
                                                                        
                                                            FAQ         
                                                                        
                                           </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/perpanjangan-stnk">
                                                                        
                                                            Perpanjangan
 STNK                                                                   
                                                         </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/pelunasan-dipercepat">
                                                                        
                                                            Pelunasan 
Dipercepat                                                              
                                                              </a>
                                                        </li>
                                                                        
                                                                        
                                        </ul>
                                    </li>
                                  
                                                                                                <li class="dropdown">
                                        <a href="https://www.oto.co.id/oto-lease" class="dropdown-toggle" data-toggle="dropdown">
                                                                        
                    OTO Lease                                           
                                             <strong class="caret caret-menu"></strong>
                                        </a>
                                        <ul class="dropdown-menu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
        <li>
                                                            <a href="https://www.oto.co.id/oto-lease/profil_otolease">
                                                                        
                                                            Profil OTO 
Lease                                                                   
                                                         </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/oto-lease/produk-dan-layanan">
                                                                        
                                                            Produk dan 
Layanan                                                                 
                                                           </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/oto-lease/client">
                                                                        
                                                            Client      
                                                                        
                                              </a>
                                                        </li>
                                                                        
                                                                        
                                                                        
                                                                        
            <li>
                                                            <a href="https://www.oto.co.id/oto-lease/kontak">
                                                                        
                                                            Kontak      
                                                                        
                                              </a>
                                                        </li>
                                                                        
                                                                        
                                        </ul>
                                    </li>
                                  
                                                                                                <li class="active">
                                        <a href="http://www.otofinance.co.id/">
                                                                        
                    OTO Kredit Motor                                    
                                                </a>
                                    </li>
                                  
                                                        <li>
                                                                    <a href="javascript:void(0);" onclick="document.getElementById('changeLang-EN').click();">ENGLISH VERSION</a>
                                                            </li>
                        </ul>
                    </div>
                <!-- </nav> -->
            </div>
        </div>
    </div>
</nav>

{block name=headcontent}            
{/block}

        <!-- <div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Pengajuan Dana Tunai</li>
        </ol>
    </div>
</div> -->

{block name=bodycontent}  


{/block}


   
        <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                            </div>
            <div class="col-sm-4">
                <h2>information</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="menu-footer">
                                                        <li>
                                <a href="https://www.oto.co.id/tentang-oto-kredit-mobil/tentang-otomobil">
                                                                        
    Tentang Perusahaan                                                  
                  </a>
                            </li>
                                                        <li>
                                <a href="https://www.oto.co.id/products/harga-mobil-baru">
                                                                        
    Produk                                                              
      </a>
                            </li>
                                                        <li>
                                <a href="https://www.oto.co.id/network">
                                                                        
    Jaringan                                                            
        </a>
                            </li>
                                                        <li>
                                <a href="http://www.otofinance.co.id/">
                                                                        
    OTO Motor                                                           
         </a>
                            </li>
                                                        <li>
                                <a href="http://www.karir.oto.co.id/">
                                                                        
    Info Karir                                                          
          </a>
                            </li>
                                                    </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="menu-footer">
                                                        <li>
                                                            <a href="https://www.oto.co.id/news">
                                                                        
                                Berita                                  
                                  </a>
                            </li>
                                                        <li>
                                                            <a href="https://www.oto.co.id/products/simulasi-kredit">
                                                                        
                                Simulasi Kredit                         
                                           </a>
                            </li>
                                                        <li>
                                                            <a href="https://www.oto.co.id/member/login">
                                                                        
                                Halaman Pelanggan                       
                                             </a>
                            </li>
                                                        <li>
                                                            <a href="https://www.oto.co.id/sitemap">
                                                                        
                                SiteMap                                 
                                   </a>
                            </li>
                                                        <li>
                                                            <a href="https://www.oto.co.id/layanan-pelanggan/kebijakan-privasi-">
                                                                        
                                Kebijakan Privasi                       
                                             </a>
                            </li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
<!--                 <h2 class="title">we're social</h2>
                <ul class="list-inline">
                    <li><a href="#"><img src="/theme/Site/img/logo-fb.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/theme/Site/img/logo-tw.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/theme/Site/img/logo-link.png" class="img-responsive" alt=""/></a></li>
                    <li><a href="#"><img src="/theme/Site/img/logo-google.png" class="img-responsive" alt=""/></a></li>
                </ul> -->
                <img src="{$baseUrl}/assets/oto/logo-oto-mobil.png" class="img-responsive" alt="" style="margin:10px 0px 5px">
                <img src="{$baseUrl}/assets/oto/logo-ojk.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <h4 class="text-center">Copyright © 2015  PT. OTO MULTIARTHA -  All rights reserved</h4>
</section>

{block name=bodyfooter}
{/block}
{block name=scriptfooter}

{/block}


    

</body></html>