{extends file="../Shared/portoku.master.html"}

{block name=bodycontent}            
<!-- template diambil dari porto forms-layouts.html Horizontal Form -->
<style>
div.scrollt {
        width: 100px;
    height: 100px;
    overflow: scroll;
}
</style>


                    
<style>
			.show-grid-block {
				background-color: #EEE;
				border: 1px solid #FFF;
				display: block;
				line-height: 40px;
				min-height: 40px;
				text-align: center;
			}

			html.dark .show-grid-block {
				background-color: #282d36;
				border-color: #282d36;
			}
</style>
{$author_message}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Powered by Bantingan

{/block}
{block name=bodyfooter}
<style type="text/css">
  .columnsorter { cursor: pointer; }
</style>
<script src="{$baseUrl}/assets/javascripts/ui-elements/examples.modals.js"></script>

<script type="text/javascript">

var baseUrl = "{$baseUrl}";


</script>

{/block}