{
  "default": {
    "type": "mysql",
    "server": "localhost:3306",
    "user": "root",
    "password": "12345",
    "database": "bookroom"
  },
  "usermanagement": {
    "type": "mysql",
    "server": "localhost",
    "user": "root",
    "password": "",
    "database": "usermanagement"
  },
  "otogeneral": {
    "type": "sqlsrv",
    "server": "sagdbatest01",
    "user": "dbaccess",
    "password": "mydbaccess",
    "database": "Solos4GCommon"
  }
}