{
	"namespaces" : [
		[ "Aura", "Aura.2.0" ],
		[ "Smarty", "Smarty" ],
		[ "Authorization", "Authorization" ],
		[ "SQLSession", "SQLSession" ],
		[ "Authorization", "Authorization" ],
		[ "PHPLogin", "phplogin" ],
		[ "PHPMailer", "PHPMailer" ],
		[ "ZipStream", "ZipStream" ],
		[ "PushNotification", "PushNotification" ],
		[ "Helper", "Helper" ],
		[ "MongoDB", "MongoDB" ],
		[ "RedBeanPHP", "RedBeanPHP" ],
		[ "PhpOffice", "PhpOffice" ],
		[ "Psr", "Psr" ]
	]
}