{
  "url activation": {
    "path": "/agent-activation",
    "controller": "Extagent",
    "action": "form_agent_activation"
  },
  "Form Pengajuan": {
    "path": "/form-pengajuan",
    "controller": "Extagent",
    "action": "form_pengajuan"
  },
  "Dashboard Agent": {
    "path": "/dashboard-agent",
    "controller": "Extagent",
    "action": "dashboard_agent"
  },
  "login": {
    "path": "/login",
    "controller": "home",
    "action": "login"
  },
  "logout": {
    "path": "/logout",
    "controller": "home",
    "action": "logout"
  },
  "editgroupwildcard": {
    "path": "/cachecontroller",
    "controller": "Cache",
    "action": "delete_file_cache"
  },
  "api": {
    "path": "/api",
    "controller": "webservice"
  },
  "api2": {
    "path": "/api/level2",
    "controller": "level2webservice"
  },
  "wparameter": {
    "path": "/aboutus",
    "controller": "home",
    "action": "aboutus",
    "parameter": ["en"]
  },
  "wparameter": {
    "path": "/tentangkami",
    "controller": "home",
    "action": "aboutus",
    "parameter": ["id"]
  }
}